@import "utils/vars";


/*==========  Desktop First  ==========*/


// ≥1600px
@media only screen and (max-width: 1600px) {


   /*======================= HEADER =========================*/
   .header {
      &:before {
         background-size: 542px 469px;
      }

      .scene {

         .object-1 {
            top: 13%;
            left: 1%;
         }

         .object-2 {
            display: none;
         }

         .object-3 {
            top: 11%;
            left: 23.5%;
         }

         .object-4 {
            top: 17%;
            left: 49%;
         }

         .object-5 {
            display: none;
         }

         .object-6 {

         }

         .object-7 {
            width: 87px;
            height: 48px;
            top: 32%;
            left: 46%;
         }

         .object-8 {
            width: 69px;
            height: 72px;
            top: 54%;
            left: 47%;
         }

         .object-9 {
            width: 123px;
            height: 95px;
            left: 47%;
         }

         .object-10 {
            width: 300px;
            height: 170px;
            top: 77%;
            left: 1%;
         }

         .object-11 {
            width: 320px;
            height: 590px;
            bottom: 5%;
            left: 60%;
         }
      }

      &-callback {
         margin-right: 0;
         height: 280px;
         width: 685px;
         padding: 0 20px 0 48px;

         .astronaut {
            width: 128px;
            height: 157px;
         }
      }

      .main-caption {
         margin-left: -2%;

         .img-wrap {
            width: 640px;
         }

         &__extra {
            top: 75%;
            right: 6%;
         }
      }

      &-composition {
         .fly {
            top: 105%;
            left: 6%;
         }
      }
   }

}

// ≥1400px
@media only screen and (max-width: 1400px) {

   /*======================= HEADER =========================*/
   .header {
      &-composition {
         margin-left: -46%;
      }

      .main-caption {
         margin-left: 0%;
      }

      &-callback {
      }
   }

   /*======================= ROUTE =========================*/
   .s-route {
      padding: 300px 0 100px;

      .slider-wrap {
         padding: 50px 240px 220px;

      }

      &__title {
         margin-bottom: 30px;
      }
   }

   /*======================= PRICE =========================*/
   .s-price {

      .scene {
         .object-2 {
            top: 24%;
         }
         .object-5 {
            bottom: -20%;
         }
         .object-6 {
            bottom: -9%;
            right:10%;
         }
      }

      .section-content {
         margin-top: 120px;
      }

      .island-block {
         transform: scale(0.7);
         margin: auto 0 auto auto;
      }


      .slider-wrap {
         width: 740px;
      }

      .price-slider {
         padding: 0 105px;
         margin-left: 90px;

         &__order-btn {
            bottom: -9%;

            span {
               font-size: 33px;
            }
         }

         .carousel-inner {
            margin: 80px 0 120px;
         }


         &__captions {
            top: 3%;
            left: -18.5%;
         }

         .carousel-item {
            .h3-title {
               font-size: 38px;
            }

            &__extra {
               font-size: 19px;
            }

            .color p {
               font-size: 21px;
            }
         }

         &__value {
            width: 215px;

            span {
               font-size: 45px;
            }
         }
      }
   }


}

// ≥1300px
@media only screen and (max-width: 1300px) {


   /*======================= HEADER =========================*/
   .header {

      .scene {
         .object-10 {
            left: 0;
            top: 76%;
            width: 270px;
            height: 150px;
         }
      }

      &-callback {
         margin-right: 0;
         margin-left: 80px;
         height: 280px;
         width: 585px;
         transform: translateX(0);

         .d-flex {
            .astronaut {
               display: inline-block;
            }
         }

         .astronaut {
            display: none;
            width: 100px;
            height: 122px;
         }
      }

      &-composition {
         .fly {
            top: 110%;
            left: 0;
         }
      }

      .main-caption {
         transform: translateY(-35%);

         .img-wrap {
            width: 500px;
         }

         &__extra {
            font-size: 54px;
            top: 72%;
            right: 3%;
         }
      }

   }

   /*======================= ROUTE =========================*/
   .s-route {
      &__title {
         font-size: 27px;
      }
   }

}


// ≥1200px
@include media-breakpoint-down(lg) {

   /*======================= THANKS =========================*/
   body {
      &.thanks-page {
         .h1-title {
            .h2-title {
               font-size: 90px;
               &:last-child {
                  margin-left: 44px;
                  font-size: 65px;
               }
            }
         }
         .extra {
            span {
               font-size: 41px;
            }
         }
      }
   }

   /*======================= HEADER =========================*/
   .header {
      height: 100%;

      .scene {
         .object-7, .object-8, .object-9 {
            display: none;
         }

         .object-3 {
            top: 11%;
            left: 44.5%;
         }

         .object-4 {
            top: 16%;
            left: 66%;
         }
      }

      .navbar {
         .navbar-brand {
            margin-bottom: 30px;

            img {
               width: 235px;
               height: 55px;
            }
         }

         .navbar-toggler {
            margin-bottom: 30px;
         }

      }

      &-callback {
         margin: auto;
      }

      &-composition {
         flex-direction: column;
         margin-left: -5%;
      }

      .main-caption {
         transform: translateY(0%);
         margin-right: 0;
         margin-bottom: 210px;
         margin-top: 100px;

         .img-wrap {
            width: 570px;
         }
      }
   }


   /*======================= ADVANTAGES =========================*/
   .s-advantages {
      padding: 120px 0 80px;

      &__list {
         img {
            max-width: 130px;
         }

         p {
            font-size: 39px;
         }
      }
   }

   /*======================= ROUTE =========================*/
   .s-route {
      &__title {
         font-size: 27px;
      }

      .scene {
         .object-1, .object-2, .object-5, .object-6 {
            display: none;
         }

         .object-8 {
            width: 470px;
            height: 70px;
         }
      }

      .slider-wrap {
         padding: 50px 110px 220px;
      }
   }

   /*======================= PRICE =========================*/
   .s-price {
      .scene {
         .object-1 {
            top: 25%;
            left: 3%;
         }

         .object-2 {
            top: 8%;
         }

         .object-3 {
            top: 18%;
            left: 80%;
            width: 263px;
            height: 345px;
         }

         .object-5 {
            top: 92%;
            left: 64%;
         }

         .object-6 {
            top: 86%;
            left: 83%;
         }
      }

      .island-wrap {
         width: 400px;
      }

      .island-block {
         margin: auto 0 100px -50px;
      }


      .slider-wrap {
         width: 600px;
      }

      .price-slider {
         padding: 0 100px;
         margin-left: 0px;


         &__captions {
            transform: scale(0.9);
            left: -18.5%;
         }

         &__value {
            top: 4%;
         }
      }
   }

   /*======================= HOW =========================*/
   .s-how {
      .section-title {
         .h2-title {
            font-size: 53px;
         }

         img {
            width: 840px;
         }
      }
   }

   /*======================= CONTACTS =========================*/
   .s-contacts {
      .contacts-window {
         width: 440px;

         p {
            font-size: 26px;
         }
      }
   }


   /*======================= REVIEWS =========================*/
   .s-reviews {

      .section-title {
         img {
            width: 516px;
         }

         .h2-title {
            font-size: 53px;
         }
      }

      .review-block {
         &--left {
            &:before {
               bottom: -14%;
               left: -17.5%;
            }
         }

         &--y {
            &:before {
               top: -23%;
            }
         }

         &--right {
            margin-top: 100px;
            transform: rotate(-2deg);

            &:before {
               top: -17%;
               right: -21%;
            }
         }


         .content {
            width: 310px;
            height: 280px;
         }
      }
   }

}


// ≥992px
@include media-breakpoint-down(md) {


   /*======================= THANKS =========================*/
   body {
      &.thanks-page {
         .h1-title {
            .h2-title {
               font-size: 80px;
               &:last-child {
                  margin-left: 34px;
                  font-size: 57px;
               }
            }
         }
         .extra {
            span {
               font-size: 38px;
               &:nth-child(2) {
                  margin-left: 15px;
               }
               &:nth-child(3) {
                  margin-left: 60px;
               }
               &:nth-child(4) {
                  margin-left: 70px;
               }
            }
         }
      }
   }

   /*======================= HEADER =========================*/
   .header {
      height: 100%;

      .scene {
         .object-4, .object-7 {
            display: none;
         }

         .object-2 {
            display: block;
         }

         .object-3 {
            transition: 1s;
         }
      }

      .navbar {
         .navbar-brand {
            margin-bottom: 30px;

            img {
               width: 235px;
               height: 55px;
            }
         }

         .navbar-toggler {
            margin-bottom: 30px;
         }

         .nav-item {
            margin-right: 0px;

            .nav-link {
               font-size: 19px;
               font-weight: 700;
            }

            &:hover {
               a {
                  opacity: 1;

                  &:after {
                     transform: translateY(5px) scale(0);
                  }
               }
            }
         }
      }

      &-callback {
         margin: auto;
      }

      &-composition {
         flex-direction: column;
      }

      .main-caption {
         transform: translateY(0%);
         margin-right: 0;
         margin-bottom: 210px;
         margin-top: 100px;

         .img-wrap {
            width: 570px;
         }
      }
   }


   /*======================= ROUTE =========================*/
   .s-route {
      padding: 300px 0 50px;

      .scene {
         .object-3, .object-4, .object-8 {
            display: none;
         }
      }

      .carousel-control-prev, .carousel-control-next {
         width: 13%;
      }

      .carousel-control-prev {
         left: -13.5%;

      }

      .carousel-control-next {
         right: -13.5%;
      }

      .slider-wrap {
         padding: 50px 90px 190px;
      }

      .slider-route {
         .carousel-item__content-img-wrap {
            height: 268px;

            &:before, &:after {
               width: 165px;
               height: 8px;
            }
         }
      }
   }

   /*======================= ADVANTAGES =========================*/
   .s-advantages {
      padding: 100px 0 60px;

      &__list {
         margin-top: 80px;

         img {
            max-width: 150px;
         }

         p {
            font-size: 50px;
         }
      }
   }

   /*======================= PRICE =========================*/
   .s-price {
      padding: 350px 0;

      .scene .object-2 {
         top: 10%;
      }

      .section-title {
         .h2-title {
            font-size: 53px;
         }

         img {
            width: 542px;
         }
      }

      .section-content {
         flex-direction: column;
         margin-top: 85px;
      }

      .island-wrap {
         width: 540px;
      }

      .island-block {
         margin: auto auto 0;
         transform: scale(1);
      }

      .slider-wrap {
         width: 720px;
         margin-top: 60px;
      }

      .price-slider {
         margin-left: 91px;

         &__order-btn {
            bottom: -11%;
            left: 25%;
         }
      }

   }

   /*======================= HOW =========================*/
   .s-how {
      padding: 140px 0 180px;

      .col-lg-6 {
         padding-right: 15px;

         &:last-child {
            padding-left: 15px;
            padding-right: 15px;
         }
      }

      .section-title {
         .h2-title {
            font-size: 53px;
         }

         img {
            height: 180px;
         }
      }

      .slider-block {
         margin-bottom: 40px;
      }
   }

   /*======================= CONTACTS =========================*/
   .s-contacts {
      margin-top: -78px;

      .row {
         padding: 100px 0 50px;
      }

      .contacts-window {
         margin: 0 auto 40px;
      }
   }

   /*======================= REVIEWS =========================*/
   .s-reviews {

      .review-blocks {
         margin: 165px auto 100px;
      }

      .review-block {
         &--right {
            margin-top: 50px;
            transform: rotate(-2deg);
         }

         .content {
            width: 270px;
            height: 240px;
         }
      }
   }

}

// ≥768px
@include media-breakpoint-down(sm) {

   /*======================= THANKS =========================*/
   body {
      &.thanks-page {
         .flex-center {
            margin-left: auto;
         }
         .scene .object-1 {
            display: none;
         }
         .h1-title {
            .h2-title {
               font-size: 80px;
               margin: auto;
               &:last-child {
                  margin-left: 0;
                  font-size: 57px;
               }
            }
         }
         .composition {
            text-align: center;
         }
         .extra {
            margin-left: 0;
            span {
               font-size: 38px;
               &:nth-child(2) {
                  margin-left: 0;
               }
               &:nth-child(3) {
                  margin-left: 0;
               }
               &:nth-child(4) {
                  margin-left: 0;
               }
            }
         }
      }
   }

   /*======================= HEADER =========================*/
   .header {

      .scene {
         .object-6, .object-10 {
            display: none;
         }

         .object-1 {
            top: 19%;
            left: -5%;
         }
      }

      &-composition {
         .fly {
            left: 9%;
         }
      }

      &-callback {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         height: 440px;
         width: 385px;
         background-image: url('../img/bg/header-callback-mobile.png');
         background-size: 100% 100%;
         padding: 0 20px;

         &__text {
            text-align: center;
            display: flex;
            flex-direction: column;
         }

         .btn-order > span > span {
            display: block;
            margin-top: 4px;
         }

         &__form-wrap {
            margin: 0 auto;

            form {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-content: center;
            }
         }

         .btn-order {
            margin: 25px auto 0;

         }
      }

      .d-flex {
         .astronaut, .spaceship {
            display: none;
         }
      }
   }

   /*======================= ADVANTAGES =========================*/
   .s-advantages {
      padding: 80px 0 60px;

      &__list {
         margin-top: 60px;

         p {
            font-size: 43px;
         }
      }
   }

   /*======================= ROUTE =========================*/
   .s-route {
      padding: 300px 0 20px;

      &__title {
         font-size: 22px;

         &:before {
            width: 566px;
         }

         &:after {
            width: 521px;
         }
      }

      .carousel-control-next, .carousel-control-prev {
         width: 15%;
         background-size: 51px 42px;
      }

      .carousel-control-next {
         right: -14%;
      }

      .carousel-control-prev {
         left: -14%;
      }

      .slider-route {
         padding: 30px 30px;

         &:before {
            height: 96%;
         }

         .carousel-item__content {
            flex-direction: column;
            text-align: center;

            &-img-wrap {
               margin: 20px 0;
               width: 100%;
            }

            &-composition {
               width: 100%;

               .h3-title {
                  font-size: 26px;
               }

               &-desc {
                  margin: 15px 0 30px;
               }
            }
         }
      }

      .slider-wrap {
         padding: 50px 70px 190px;
      }
   }

   /*======================= PRICE =========================*/
   .s-price {
      padding: 280px 0 350px;

      .scene .object-2 {
         top: 6%;
      }

      .section-content {
         margin-top: 45px;
      }

      .section-title {
         .h2-title {
            font-size: 47px;
         }

         img {
            width: 490px;
         }
      }

      .carousel-control-next, .carousel-control-prev {
         bottom: 4%;
         width: 17%;
         height: 17%;
      }

      .carousel-control-next {
         right: 27%;
      }

      .carousel-control-prev {
         left: 27%;
      }

      .slider-wrap {
         margin-top: 100px;
         width: 560px;
      }

      .price-slider {
         margin: 0 auto;
         padding: 30px 85px 0;

         .carousel-inner {
            margin: 80px 0 160px;
         }

         .carousel-item {
            .h3-title {
               background: none;
               -webkit-background-clip: initial;
               -webkit-text-fill-color: initial;
               &:after {
                  display: none;
               }
            }
         }

         &__captions {
            left: 66.5%;
            top: -41.4%;
         }

         &__order-btn {
            bottom: -11%;
            left: 28%;
         }
      }
   }

   /*======================= HOW =========================*/
   .s-how {
      padding: 120px 0 130px;

      .carousel-how, .embed-responsive {
         box-shadow: 0 0 15px 8px rgba(37, 234, 226, .8);
      }

      &__sliders {
         margin: 80px 0;
      }

      .section-title {
         .h2-title {
            font-size: 47px;
            text-align: center;
         }

         img {
            height: 170px;
         }
      }

      .slider-block {
         margin-bottom: 30px;
      }
   }

   /*======================= REVIEWS =========================*/
   .s-reviews {
      padding: 240px 0 100px;

      &:after {
         background-size: 450px;
      }

      .section-title {
         img {
            width: 470px;
         }

         .h2-title {
            font-size: 47px;
         }
      }

      .review-block {
         margin-bottom: 100px;

         &--left {
            transform: rotate(2deg);
         }

         &--y {
            margin-bottom: 65px;
         }

         &--right {
            margin-top: 0;
            margin-bottom: 0;
            transform: rotate(-2deg);
         }

         .content {
            width: 300px;
            height: 270px;
         }
      }
   }

}

// ≥576px
@include media-breakpoint-down(xs) {

   header, section {
      background-attachment: scroll !important;

      &:before, &:after {
         background-attachment: scroll !important;
      }
   }

   /*======================= THANKS =========================*/
   body {
      &.thanks-page {
         .h1-title {
            .h2-title {
               font-size: 70px;
               &:last-child {
                  font-size: 53px;
               }
            }
         }
         .extra {
            margin-top: 30px;
            span {
               font-size: 31px;
            }
         }
      }
   }

   /*======================= HEADER =========================*/
   .header {
      &:before {
         display: none;
      }

      .scene {
         .object-3 {
            left: 40.5%;
         }

         .object-1, .object-10 {
            display: none;
         }

      }

      .main-caption {
         margin-bottom: 260px;

         &:before {
            top: -11.5%;
            left: 25%;
            width: 221px;
            height: 130px;
         }

         .img-wrap {
            width: 430px;
         }
      }

      &-composition {
         .fly {
            top: 135%;
         }
      }
   }

   /*======================= ADVANTAGES =========================*/
   .s-advantages {
      padding: 120px 0 60px;

      &__list {
         img {
            max-width: 120px;
         }

         p {
            font-size: 35px;

            img {
               width: 286px;
            }
         }
      }
   }

   /*======================= ROUTE =========================*/
   .s-route {
      padding: 300px 0 0;

      &__title {
         width: 100vw;
         margin-left: calc(-50vw + 50%);

         &:before {
            width: 416px;
            height: 30px;
         }

         &:after {
            width: 401px;
            height: 55px;
            bottom: 8%;
         }
      }

      .carousel-control-next, .carousel-control-prev {
         width: 35%;
         top: 180px;
         opacity: 1;

         &:hover, &:focus {
            opacity: 1;
         }
      }

      .carousel-control-prev {
         left: -3.5%;
      }

      .carousel-control-next {
         right: -3.5%;
      }

      .slider-wrap {
         padding: 50px 5px 190px;
         box-shadow: 0 0 50px 20px rgba(37, 234, 226, .6);
      }

      .slider-route {
         .carousel-item__content-composition-extra {
            text-align: left;

            span {
               margin-left: 6%;
            }
         }
      }


   }

   /*======================= PRICE =========================*/
   .s-price {
      .section-title {
         .h2-title {
            font-size: 46px;
         }

         img {
            width: 370px;
            height: 80px;
         }
      }

      .scene {
         .object-1 {
            top: 19%;
            left: 1%;
         }

         .object-2 {
            top: 7%;
            left: 30%;
         }

         .object-4 {
            top: 89%;
            left: -5%;
         }

         .object-5 {
            top: 95%;
            left: 54%;
         }

         .object-6 {
            top: 87%;
            left: 74%;
         }

      }

      .slider-wrap {
         margin-top: 250px;
      }

      .price-slider {
         .carousel-inner {
            margin-top: 62px;
         }

         &__value {
            top: -4%;
            right: 49%;
         }

         &__captions {
            left: 58.5%;
            top: -36.4%;
         }

         &__order-btn {
            bottom: -12%;

            span {
               font-size: 43px;
            }
         }
      }


   }

   /*======================= HOW =========================*/
   .s-how {
      &__sliders {
         margin: 70px 0 60px;
      }

      .section-title {
         .h2-title {
            font-size: 46px;
         }

         img {
            height: 160px;
         }
      }

      .slider-block {
         margin-bottom: 30px;
      }
   }

   /*======================= REVIEWS =========================*/
   .s-reviews {
      &:after {
         background-attachment: scroll;
         background-position: 120% 103%;
         background-size: 350px;
      }

      .review-blocks {
         margin: 145px auto 100px;
      }

      .section-title {
         img {
            width: 400px;
         }

         .h2-title {
            font-size: 46px;
         }
      }
   }

   /*======================= CONTACTS =========================*/
   .s-contacts {

      .contacts-window {
         width: 362px;

         p {
            font-size: 22px;
            margin-left: -6px;
         }
      }

      .social {
         li {
            margin-right: 15px;
         }

         a {
            padding: 11px;
         }

      }
   }

}

// ≥450px
@media only screen and (max-width: 450px) {

   .btn-blue {
      padding: 9px 35px;
      font-size: 28px;
   }

   /*======================= HEADER =========================*/
   .header {
      .main-caption {
         .img-wrap {
            width: 390px;
         }

         &__extra {
            font-size: 47px;
            top: 73%;
            right: 5%;
         }
      }

      &-composition {
         .fly {
            top: 142%;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }

      &-callback {
         width: 375px;
      }
   }

   /*======================= ADVANTAGES =========================*/
   .s-advantages {
      padding: 50px 0 20px;

      &__list {
         li {
            flex-direction: column;
            margin-bottom: 30px;
         }

         img {
            max-width: 140px;
         }

         p {
            font-size: 40px;

            img {
               width: 322px;
            }
         }
      }
   }

   /*======================= ROUTE =========================*/
   .s-route {

      &__title {
         padding: 50px 8px 80px;

         &:before {
            width: 296px;
         }

         &:after {
            width: 270px;
         }
      }

      .scene {
         .object-7, .object-9 {
            display: none;
         }
      }

      .carousel-control-next {
         right: -5%;
      }

      .carousel-control-prev {
         left: -5%;
      }

      .slider-wrap {
         padding: 50px 5px 60px;
      }

      .slider-route {
         &:before {
            height: 98%;
         }

         .carousel-item__content-composition {
            .h3-title {
               font-size: 24px;
            }
         }
      }

   }

   /*======================= PRICE =========================*/
   .s-price {

      .scene .object-2 {
         height: 117px;
         width: 241px;
         left: 20%;
      }

      .island-block {
         transform: scale(.9);
      }

      .slider-wrap {
         transform: scale(.9);
      }
   }

   /*======================= HOW =========================*/
   .s-how {
      &__sliders {
         margin: 70px 0 30px;
      }

      .section-title {
         .h2-title {
            font-size: 45px;
         }

         img {
            height: 170px;
         }
      }
   }

   /*======================= REVIEWS =========================*/
   .s-reviews {
      .review-blocks {
         margin: 145px auto 15px;
      }

      .section-title {
         img {
            width: 350px;
            height: 90px;
         }

      }

      div[class^=".col-"] {
         padding: 0;
      }

      .review-block {
         margin-bottom: 50px;
         width: 274px;
         height: 274px;

         &--y {
            transform: rotate(0deg);

            &:before {
               top: -29%;
               left: 24%;
            }

            &:after {
               bottom: -6%;
               right: -20%;
            }
         }

         &--left {
            transform: rotate(0deg);

            &:before {
               bottom: -19%;
               left: -23.5%;
            }
         }

         &--right {
            transform: rotate(0deg);

            &:before {
               top: -21%;
               right: -26%;
            }
         }

         .content {
            padding: 12px 12px 42px 12px;
            width: 250px;
            height: 220px;
         }
      }
   }

}

// ≥400px
@media only screen and (max-width: 400px) {

   /*======================= REVIEWS =========================*/
   .s-reviews {

      .section-title {
         img {
            width: 280px;
            height: 75px;
         }

         .h2-title {
            font-size: 42px;
         }
      }
   }

   /*======================= CONTACTS =========================*/
   .s-contacts {
      .order-1 {
         padding: 0;
      }

      .contacts-window {
         width: 310px;

         p {
            font-size: 19px;
         }
      }

      .social {
         flex-wrap: wrap;

         li {
            margin: 10px;

            &:last-child {
               margin: 10px;
            }
         }

         a {
            padding: 16px;
         }

         .w-100 {
            display: block;
         }
      }
   }

}

// ≥380px
@media only screen and (max-width: 380px) {

   .btn-blue {
      padding: 9px 30px;
      font-size: 22px;
   }

   /*======================= HEADER =========================*/
   .header {
      .navbar .navbar-brand img {
         width: 175px;
         height: 43px;
      }

      .main-caption {

         &:before {
            display: none;
         }

         .img-wrap {
            width: 330px;
            margin: auto;
         }

         &__extra {
            font-size: 41px;
            top: 75%;
            right: 5%;
         }
      }

      &-callback {
         width: 315px;

         &__form-wrap form {
            width: 93%;
         }
      }

      .header-composition .fly {
         top: 160%;

         img {
            transform: translate(-12px, -75px);
         }
      }

   }

   /*======================= ADVANTAGES =========================*/
   .s-advantages {
      padding: 50px 0 20px;

      &__list {
         img {
            max-width: 140px;
         }

         p {
            font-size: 36px;

            img {
               width: 295px;
            }
         }
      }
   }

   /*======================= PRICE =========================*/
   .s-price {
      .section-title {
         .h2-title {
            font-size: 42px;
         }

         img {
            width: 290px;
         }
      }

      .section-content {
         margin-top: 0;
      }

      .slider-wrap {
         width: 510px;
         margin-top: 170px;
      }

      .price-slider {
         &__value {
            top: -2%;
            right: 45%;
            width: 195px;

            span {
               font-size: 30px;
            }
         }

         &__captions {
            left: 52.5%;
            top: -33%;
         }

      }

      .island-block {
         transform: scale(0.75);
      }
   }

   /*======================= HOW =========================*/
   .s-how {
      padding: 90px 0;

      &__sliders {
         margin: 70px 0 30px;
      }

      .section-title {
         .h2-title {
            font-size: 35px;
         }

         img {
            height: 140px;
         }
      }
   }

   /*======================= REVIEWS =========================*/
   .s-reviews {

      .review-block {
         margin-bottom: 50px;
         width: 254px;
         height: 254px;

         &--y {
            transform: rotate(0deg);

            &:before {
               top: -29%;
               left: 24%;
            }

            &:after {
               bottom: -6%;
               right: -20%;
            }
         }

         &--left {
            transform: rotate(0deg);

            &:before {
               bottom: -19%;
               left: -23.5%;
            }
         }

         &--right {
            transform: rotate(0deg);

            &:before {
               top: -21%;
               right: -26%;
            }
         }

         .content {
            padding: 12px 12px 42px 12px;
            width: 230px;
            height: 200px;
         }
      }
   }

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
